*{
    padding: 0; /* */
    margin: 0;
    box-sizing: border-box;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
body{
    /*background-color: #FED3ED;*/
    background-color: #553EF6;
}

.main-content{
    /*background-color: rgb(196, 238, 10);*/
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header-banner{
    display: flex;
    align-items: center; /*solo funciona con display flex*/
    justify-content: center;
    color: #FF5613;
    font-size: 32px;
    font-family: "Agreloy", 'serif';
    background-color: #FED3ED;
    border-radius: 0 0 25px 25px;
    /* padding: 0 25px; (y, x) */
}

.contenedor{
    display: flex; /*modo flexible*/
    align-items: center;
    width: 100%;
}

.input-section{
    display: flex; /*modo flexible*/
    flex-direction: column; /*acomoda en columna */
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 70%;
    background-color: #553EF6;
}

.input-wrapper{
    display: flex;
}

.section-title{
    font-family: "Sriracha", serif;
    font-weight: 100;
    font-size: 30px;
    color: #FFFFFF;
}

.input-name{
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    padding: 15px 30px;
    background-color: #77F28D;
    font-size: 16px;
    font-family: "Helvetica", "serif";
    color: #000000;
}

.contenedor-amigos {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    width: 360px;
    height: fit-content;
    min-height: 300px;
    margin: 20px 20px;
    background-color: #FED3ED;
}

.name-list {
    list-style-type: none;
    color: #1536bb;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #E1E7FE;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/*botones*/
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color:#77F28D;
    color: #000000;
    border-radius: 0 25px 25px 0;
    font-family: "Helvetica", "serif";
    font-size: 16px;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: #FFFFFF;
    background-color: #fe652b;
    font-size: 18px;
    font-family: "Helvetica", "serif";
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover { /* 'hover' cambia algo cuando se apunta*/
    background-color: #e55720;
}

@media (max-width: 800px) {
    .header-banner{
        flex-direction: column;
        font-size: 16px;
    }

    .img-header{
        width: 300px;
    }

    .contenedor{
        flex-direction: column;
    }

    .input-name{
        width: 300px;
        font-size: 15px;
        border-radius: 10px;
    }

    .button-add{
        padding: 10px;
        width: 100px;
        font-size: 15px;
        border-radius: 10px;
    }

    .button-container{
        width: 170px;
    }

    .button-draw{
        margin: 0;
        padding: 10px;
        align-items: center;
    }

    #img-boton-sorteo{
        margin: 0;
        padding: 0 0 0 6px;
    }
    .section-title{
        font-size: 25px;
        text-align: center;
    }

    .input-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
}